<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Internet Speed Mbps...</p>
  <div id="inetgauge" style="width:200px; height:100px" class="center"></div>
  <p>Gateway Speed Mbps...</p>
  <div id="gwgauge" style="width:200px; height:100px" class="center"></div>

  <ion-row>
    <div class="center">
      <ion-button color="primary">Restart Test</ion-button>
    </div>
  </ion-row>



</ion-content>